*.o
/bruit-impulsionnel
/double-brightness
/filtrage-median
/testGrayLevelImage2D
/egalise
/netlify
/bruit-gaussian
/histogram
/histogram_*.pgm
/egalise_*.pgm
/netlified_*.pgm
/bruited_*.pgm
/.idea/
/colors.ppm
/testImage2D
/testImage2DColor
/testImage2DColorBand
/testImage2DGray
/invert-red-blue
/testExportImage2DColor
/rbinverted-*.ppm
/greenChan-*.ppm
/save-green-channel
/*_blue.pgm
/*_green.pgm
/*_red.pgm
/save-channels
/README.TXT
/make-catho
/*_catho.pgm