/.idea/

*.o

/testImage2D
/testImage2DColor
/colors.ppm
/testImage2DColorBand
/testImage2DGray
/testExportImage2DColor

/invert-red-blue
/rbinverted-*.ppm

/save-green-channel
/greenChan-*.ppm

/save-channels
/*_blue.pgm
/*_green.pgm
/*_red.pgm

/make-catho
/*_catho.ppm

/histogram
/*_histogram.pgm

/egalise
/*_egalise.ppm

/upscale
/*_upscaled_times_*.ppm

/readme_with_names.txt